
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Nosifer&family=Teko:wght@300;400;500;600;700&family=Tektur:wght@600&family=Zen+Dots&display=swap');


*{
  padding: 0;
  margin: 0;
}

body{
  color: white;
  overflow: hidden;
  font-family: 'Barriecito', cursive;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.top-container{
  height: 100vh;
  background: rgb(36,14,0);
background: linear-gradient(90deg, rgba(36,14,0,1) 0%, rgba(9,9,121,1) 35%, rgba(219,255,0,1) 100%);
	animation: gradient 15s ease infinite;
}

.bottom-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

#form{
  width: 600px;
  height: 40vh;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
}

#form h1{
  font-style: italic;
  text-shadow: 1px 1px darkgray;
}

#form input{
  width: 300px;
  padding: 14px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 1px solid lightgray;
  font-family: inherit;
  outline: none;
  box-shadow: 2px 2px 5px gray;
}

#form button{
  padding: 14px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 1px solid lightgray;
  background-color: whitesmoke;
  cursor: pointer;
  font-family: inherit;
  box-shadow: 2px 3px 5px gray;
  transition: 0.3s ease-out;
}

#form button:hover{
  color:white;
  background-color:  rgb(0, 145, 255);
  border: 1px solid  rgb(0, 115, 255);
  transform: scale(1.1);
}

.errors{
  width: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
  padding: 12px;
  color: red;
  background-color: #ffe6e6;
  border: 1px solid rgb(106, 255, 0);
}

.success{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  color: black;
}

#download-btn{
  width: fit-content;
  color: rgb(199, 209, 15);
  padding: 12px;
  color: white;
  background-color: rgb(157, 251, 25);
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 2px 2px 5px gray;
  font-style: normal;
  cursor: pointer;
  letter-spacing: 1px;
  font-family: inherit;
  border: 1px solid red;
  transition: 0.3s ease-out;
}

#download-btn:hover{
  color:black;
  background-color:  white;
  border: 1px solid  lightgray;
  transform: scale(1.1);
}

@media(max-width:768px){
  .bottom-container{
    width: 90%;
    margin: auto;
  }

  #form, .success{
    text-align: center;
    width: 100%;
  }
}

@media(max-width:480px){
  #form input{
    width: 50%;
  }
}

.footer{
  display: flex;
  color: black;

}
.page-note{
  margin: 0;
  padding: 0;
  opacity: 0.5;
  font-size: xx-large;
  /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);	
 transform:translateX(100%);
 /* Apply animation to this element */	
 -moz-animation: example1 25s linear infinite;
 -webkit-animation: example1 5s linear infinite;
 animation: example1 10s linear infinite;
  

}
/* Move it (define the animation) */
@-moz-keyframes example1 {
  0%   { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(-100%); }
 }
 @-webkit-keyframes example1 {
  0%   { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(-100%); }
 }
 @keyframes example1 {
  0%   { 
  -moz-transform: translateX(100%); /* Firefox bug fix */
  -webkit-transform: translateX(100%); /* Firefox bug fix */
  transform: translateX(100%); 		
  }
  100% { 
  -moz-transform: translateX(-100%); /* Firefox bug fix */
  -webkit-transform: translateX(-100%); /* Firefox bug fix */
  transform: translateX(-100%); 
  }
 }